/* goole fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* common style */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}
.section{
    padding: 80px 0;
}
.section,footer h1, h2, h3, h4, h5, h6, p, span{
    color: #22262A;
}


/* header */
header{
    z-index: 1;
    background-color: #fff;
}


/* slider  */
.active-slider-img{
    background-image: url(images/baner-2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}
.active-slider-img-1{
    background-image: url(images/baner-1.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}
.active-slider-img-2{
    background-image: url(images/baner-3.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}
.padding-t{
    padding-top: 150px;
    padding-left: 3rem;
}
.slider-content h1{
    color: #f0f1f7;
    font-size: 3.5rem;
    font-weight: 700;
}
.slider-content h6{
    color: #f0f1f7;
    font-size: 1rem;
    font-weight: 700;
}
.slider-content p{
    color: #e3e5ee;
    font-weight: 500;
}
.slider-btn a{
    text-decoration: none;
    font-weight: 500;
    background-color: #22262A;
    padding: 10px 30px;
    color: #fff;
    margin-right: 30px;
    border: 1px solid #22262A;
}
.slider-btn a:hover{
    background-color: rgb(19, 18, 18);
    border: 1px solid #fff;
}
/* slider responsive */
@media (max-width: 576px) {
    .active-slider-img{
        background-position: -570px;
    }
    .active-slider-img-1{
        background-position: -150px;
    }
    .padding-t{
        padding-top: 60px;
        padding-left: 1rem;
    }
    .slider-btn{
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: center;
    }
    .slider-btn a{
        padding: 10px 20px;
        margin-right: 0;
        margin-top: 5px;
    }
    #sh{
        font-size: 2rem;
    }
}


/* image gellary */
#mt{
    position: relative;
}
#mt a{
    text-decoration: none;
    font-weight: 500;
    padding: 5px 30px;
    background-color: #fff;
    color: #22262A;
    position: absolute;
    bottom: 25px;
    left: 40px;
}
#mt a:hover{
    background-color: #22262A;
    color: #fff;
}
/* image gellary responsive */
@media (max-width: 992px) {
    #mt{
        margin-top: 30px;
    }
}


/* womens */
.section-header h4{
    font-weight: 700;
}
.section-header p{
    font-weight: 500;
}
#mbrem{
    margin-bottom: .5rem;
}
.card-information h6{
    font-weight: 700;
}
#li-thrw{
    text-decoration: line-through;
    margin-right: 20px;
}


/* avone style */
.custom-p{
    position: absolute;
    bottom: -151px;
    right: 0;
}
.custom-p-p{
    color: #22262A;
    font-weight: 400;
    position: absolute;
    bottom: -150px;
    left: 0;
    border-bottom: 1px solid #22262A;
}
/* avone responsive */
@media (max-width: 576px) {
    .sm-m{
        margin-bottom: 30px;
    }
    .custom-p-p{
        bottom: -208px;
        left: 25px;
    }
}
@media (min-width: 577px) and (max-width: 992px) {
    .avone{
        margin-bottom: 150px;
    }
    .sm-m{
        margin-bottom: 30px;
    }
}


/* tachen */
.tachen{
    background-image: url(images/baner-4.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.padd-t{
    padding-top: 200px;
    padding-bottom: 50px;
}
.slider-2 h6{
    color: #22262A;
    font-weight: 700;
}
.slider-2 h1{
    color: #22262A;
    font-weight: 700;
}
/* tachen responsive */
@media (max-width: 576px) {
    .tachen{
        margin-top: 150px;
        background-position: -950px;
    }
    .slider-2 h6{
        color: #f0f1f7;
    }
    .slider-2 h1{
        color: #f0f1f7;
    }
}
@media (min-width: 577px) and (max-width: 992px) {
    .tachen{
        margin-top: 150px;
        background-position: -590px;
    }
}


/* contact */
.contact{
    background-color: #F2F8FC
    ;
}
.bb-1{
    width: 100%;
    border-bottom: 2px solid #22262A;
    margin: 0;
}
.cus-m{
    margin: 0;
}
.contact-icon a{
    color: #22262A;
    margin-right: 15px;
}
.contact-table{
    
}


/* footer */
footer{
    background-color: #E7F5F8;
}